.recipe-img{
    border-radius: 20px;
}
.recipe-title{
    font-family: var(--second-font);
    font-size: 25px;
    font-weight: 600;
}
.recipe-price{
    font-family: var(--second-font);
    font-size: 20px;
    font-weight: 500;
    color:var(--first-color); 
    .per-color{
        color:var(--fourth-color);
        font-size: 20px;
    }
}
.recipe-summary{
    text-align: justify;
    font-size: 15px;
    color:var(--fourth-color);
    font-family: var(--first-font);
}
.ingredient-title{
    font-family: var(--second-font);
    font-size: 24px;
    font-weight: 600;

}
.ingredient{
    background-color: var(--first-color);
    color: var(--second-color);
    font-family: var(--first-font);
    border-radius: 8px;
    padding: 6px;
    white-space: nowrap;
    width: 120px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 0.5rem;
}
.title{
    font-family: var(--second-font);
    font-size: 24px;
    font-weight: 600;
}
.steps{
    font-family: var(--first-font);
    font-size: 16px;
    color:var(--fourth-color);
}
.fav-icon{
    position: absolute;
    top: 17px;
    right: 16px;
    z-index: 1000;
    background-color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }