.navbar{
    background-color: var(--second-color);
    box-shadow: 0px -4px 5px rgba(146, 146, 146, 0.15),
    0px 4px 5px rgba(146, 146, 146, 0.25);
    .nav-link{
        font-family: var(--second-font);
        font-size: 24px;
        font-weight: 700;
        position: relative; 
    }
    .active-link {
        color: var(--first-color);
    }
    .active-link::after {
        content: "";
    display: block;
    width: 50px;
    height: 5px;
    background-color: var(--first-color);
    position: absolute;
    bottom: 8%;
    left: 18%;
    border-radius: 20px;
}

.form-search {
    position: relative;
  }
  
  .form-search input[type="search"] {
    border-radius: 20px;
    padding-right: 40px; 
    padding:0.32rem 0.5rem;
    font-family: var(--second-font);
    font-weight: 600;
    font-size: 18px;
    box-shadow: 0px -4px 5px rgba(146, 146, 146, 0.15),
    0px 4px 5px rgba(146, 146, 146, 0.25);
  }
  
  .form-search button {
    
    position: absolute;
    top: 50%;
    right: 10px;
    font-family: var(--second-font);
    font-weight: 600;
    font-size: 16px;
    transform: translateY(-50%);
    border: none;
    color: white;
    background-color: black;
    border-radius: 50px;
  }
 

}

